.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

.learn {
  font-weight: 400;
  color: black;
  text-align: center;
}

.learn-title {
  font-size: 22px;
}

.l, .r {
  border-radius: 10px;
  width: 40%;
  height: 35px;
  text-align: center;
  color: black;
  border: 1px solid black;
}
